<span style='color: #000'>2541 frames</span>	<span style='color: #900'>100,352 KB</span>	<span style='color: #090'>11,465.25 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />